{% extends 'AdminBundle:RGPD2018NewsletterAgreement:base_email.html.twig' %}

{% block subject %}Resposta{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table class="button tiny warning expanded">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><a>[ català ]</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last small-padding-bottom">
                <h5 class="h6-type">Hola %name%,</h5>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    El nou Reglament General de Protecció de Dades Europeu (RGPD) té efecte a partir del 25 de maig de 2018, i a partir d'aquest moment, deixen de ser vàlids els consentiments tàcits per tal de tractar dades personals.
                </p>
                <p>
                    Esperem que el nostre butlletí informatiu et sigui útil i entem què, si vols continuar rebent-lo, si us plau, fes clic al següent botó.
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <center data-parsed="">
                    <table class="button large radius alert float-center">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="{{ url('newsletter_agreement', {token: '%token%'}) }}">Sí, vull continuar rebent el newsletter</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p class="post">
                    Per ajudar-nos a complir amb els nous requeriments del RGPD, necessitem que <strong>confirmis que desitges continuar rebent comunicacions i informació</strong> relacionada amb el Centre d'Art Lo Pati.
                </p>
                <ul class="post-short-description">
                    <li><strong>Responsable del tractament:</strong> Centre d'Art Lo Pati amb CIF P4301400J, i domicili al carrer Gran Capità, 38-40, d’Amposta (Tarragona), amb codi postal 43870.</li>
                    <li><strong>Finalitat:</strong> Gestionar l'enviament de comunicacions i informació relacionada amb les activitats, exposicions i esdeveniments del centre d'art.</li>
                    <li><strong>Drets de les persones interessades:</strong> En qualsevol moment pots decidir no rebre més butlletins electrònics. Només cal fer clic a l'enllaç para donar-te de baixa situat al peu de tots els nostres correus electrònics, o contactant directament amb <a href="mailto:info@lopati.cat">info@lopati.cat</a>.</li>
                    <li><strong>Política de privacitat:</strong> Si vols més informació, pots consultar <a href="{{ url('privacypolicy_ca', {'_locale': 'ca'}) }}">aquí</a> la nova política de privacitat.</li>
                </ul>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 15} %}
                <p class="post">
                    <em>NOTA: Si no fas clic al botó vermell, deixaràs de rebre informació sobre totes les activitats de Lo Pati per correu electrònic.</em>
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table class="button tiny warning expanded">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><a>[ español ]</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last small-padding-bottom">
                <h5 class="h6-type">Hola %name%,</h5>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    El nuevo Reglamento General de Protección de Datos Europeo (RGPD) tiene efecto a partir del 25 de mayo de 2018, y a partir de ese momento, dejan de ser válidos los consentimientos tácitos para tratar datos personales.
                </p>
                <p>
                    Esperamos que nuestro boletín informativo te sea útil y entem que, si quieres continuar recibiéndolo, por favor, haz clic en el siguiente botón.
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <center data-parsed="">
                    <table class="button large radius alert float-center">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="{{ url('newsletter_agreement', {token: '%token%'}) }}">Sí, quiero seguir recibiendo el newsletter</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p class="post">
                    Para ayudarnos a cumplir con los nuevos requerimientos del RGPD, necesitamos que <strong>confirmes que deseas seguir recibiendo comunicaciones e información</strong> relacionada con el Centre d'Art Lo Pati.
                </p>
                <ul class="post-short-description">
                    <li><strong>Responsable del tratamiento:</strong> Centre d'Art Lo Pati amb CIF P4301400J, y domicilio en la calle Gran Capità, 38-40, de Amposta (Tarragona), con código postal 43870.</li>
                    <li><strong>Finalidad:</strong> Gestionar el envío de comunicaciones e información relacionada con las actividades, exposiciones y eventos del centro de arte.</li>
                    <li><strong>Derechos de las personas interesadas:</strong> En cualquier momento puedes decidir no recibir más boletines electrónicos. Sólo hay que hacer clic en el enlace para darte de baja situado al pie de todos nuestros correos electrónicos, o contactando directamente con <a href="mailto:info@lopati.cat">info@lopati.cat</a>.</li>
                    <li><strong>Política de privacidad:</strong> Si quieres más información, puedes consultar <a href="{{ url('privacypolicy_es', {'_locale': 'es'}) }}">aquí</a> la nueva política de privacidad.</li>
                </ul>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 15} %}
                <p class="post">
                    <em>NOTA: Si no haces clic en el botón rojo, dejarás de recibir información sobre todas las actividades de Lo Pati por correo electrónico.</em>
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table class="button tiny warning expanded">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><a>[ english ]</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last small-padding-bottom">
                <h5 class="h6-type">Hola %name%,</h5>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    The new European General Regulation for Data Protection (GDPR) will take effect from May 25, 2018, and from that moment on, tacit consent is no longer valid in order to handle personal data.
                </p>
                <p>
                    We hope that our newsletter will be useful to you and understand what, if you want to continue receiving it, please click on the button below.
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <center data-parsed="">
                    <table class="button large radius alert float-center">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="{{ url('newsletter_agreement', {token: '%token%'}) }}">Yes, I want to continue receiving the newsletter</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </th>
            <th class="expander"></th>
        </tr>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p class="post">
                    To help us meet the new requirements of the GDPR, we need you to confirm that you wish to <strong>continue receiving communications and information</strong> related to Centre d'Art Lo Pati.
                </p>
                <ul class="post-short-description">
                    <li><strong>Person in charge of the treatment:</strong> Centre d'Art Lo Pati, with ID number P4301400J, and domiciled at 38-40 Gran Capitan street, of Amposta (Tarragona), with postal code 43870.</li>
                    <li><strong>Purpose:</strong> To manage the sending of communications and information related to the activities, exhibitions and events of the art center.</li>
                    <li><strong>Rights of the interested parties:</strong> At any time you can decide not to receive more newsletters. Just click on the link to unsubscribe at the bottom of all our emails, or by contacting directly with <a href="mailto:info@lopati.cat">info@lopati.cat</a>.</li>
                    <li><strong>Privacy policy:</strong> If you want more information, you can check <a href="{{ url('privacypolicy_en', {'_locale': 'en'}) }}">here</a> the new privacy policy.</li>
                </ul>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 15} %}
                <p class="post">
                    <em>NOTE: If you do not click the red button, you will stop receiving information about all the activities of Lo Pati by email.</em>
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
{% endblock %}
