{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            {#console.log('hitme! {{ admin.uniqId }}');#}
            jQuery('#{{ admin.uniqId }}_users').select2({
                placeholder: 'Escriu un email',
                minimumInputLength: 3,
                multiple: true,
                width: '40%',
                ajax: {
                    url: '{{ path('admin_lopati_newsletter_newsletteruser_async_search') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: function (term) {
                        return {
                            q: term, // search term
                            limit: 200
                        };
                    },
                    results: function (data) {
                        return { results: data.users };
                    }
                },
                initSelection: function (element, callback) {
                    var id = jQuery(element).val();
                    if (id !== '') {
                        {#console.log('twig json {{ entity|json_encode(constant("JSON_PRETTY_PRINT"))|raw }}');#}
                        jQuery.ajax('{{ path('admin_lopati_newsletter_newsletteruser_async_get', {id: admin.id(object) }) }}', {
                            dataType: 'json',
                            type: 'GET'
                        }).done(function (data) {
                                    console.log(data);
                                    callback(data);
                                });
                    }
                },
                formatResult: userFormatResult,
                formatSelection: userFormatSelection,
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) {
                    return m;
                }
            }
            );
        });

        function userFormatResult(user) {
            var markup = "<table><tr>";
            if (user.id !== undefined) {
                markup += "<td>" + user.email + "</td>";
            }
            markup += "</tr></table>";

            return markup;
        }

        function userFormatSelection(user) {
            return user.email;
        }

    </script>
{% endblock %}
