{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom footer #}
{#{% block footer %}#}
    {#<div class="row-fluid">#}
        {#<div class="well">#}
            {#<div class="span6"><a href="//www.lopati.cat">&copy; {{ 'now'|date('Y') }} Lo Pati</a></div>#}
            {#<div class="span6" style="text-align:right;"><a href="mailto:david@flux.cat?subject=Ajuda administrador Lo Pati">ajuda i suport tècnic</a></div>#}
        {#</div>#}
    {#</div>#}
	{#{{ tinymce_init() }}#}
{#{% endblock %}#}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="border-top: 1px solid #444444;padding:50px 0 0 20px;color:#EEE;">
        v{{ admin_tag_version }}<br>
        Desenvolupat per <a href="http://www.flux.cat" rel="noreferrer" target="_blank">Flux</a><br>
        &copy;{{ 'now' | date('Y') }} Lo Pati
    </p>
    {{ tinymce_init() }}
{% endblock %}

{# custom top menu #}
{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            <li><a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-power-off text-success"></i></a></li>
        </ul>
    </div>
{% endblock %}
