{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="padding:50px 0 0 20px;color:#EEE;">
        {{ admin_tag_version }}<br>
        <i class="fa fa-code"></i> Desenvolupat per <a href="http://www.flux.cat" target="_blank">Flux</a><br>
        <i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="http://www.lopati.cat" target="_blank">{{ main_brand_title }}</a></p>
{% endblock %}

{# custom top menu #}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('inici') }}"><i class="fa fa-globe"></i></a></li>
            <li><a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-power-off text-success"></i></a></li>
        </ul>
    </div>
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
