<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<META NAME="keywords" CONTENT="art contemporani,xarxa centres arts visuals catalunya,amposta,terres de l'ebre,mergent,residencia artsites,paissatge,art urba,street,art,poesia,experimental,video,art digital,cultura contemprania,pensament,pedagogia,arte contemporaneo,coleccion,col·leccio,arxiu,archivo,mediateca,soriano montagut,carles santos">
		<META NAME="description" CONTENT="Centre d'Art de les Terres de l'Ebre, amb seu a Amposta. Difusió, formació, producció, col·lecció i arxiu. Forma part de la Xarxa de Centres d'Arts Visuals de Catalunya.">
		<META NAME="robots" CONTENT="index, follow">
		<title>Lo Pati | Centre d'Art - Terres de l'Ebre{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link href="{{ asset('/bundles/blog/css/estils.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ asset('/bundles/blog/js/funcions.js') }}"></script>
	</head>
	<body>
		<div class="pagina">
			<div class="cap">
				<div class="logo">
					<a href="{{ path ('portada') }}"><img src="{{ asset('/images/logo_lopati.png') }}" alt="Lo Pati - Centre d'Art  - Terres de l'Ebre" title="Lo Pati - Centre d'Art - Terres de l'Ebre"></a>
				</div>
				<div class="logo">
					<a href="{{ path ('portada') }}"><img src="/images/logo_lopati_2.png" alt="Lo Pati - Centre d'Art - Terres de l'Ebre" title="Lo Pati - Centre d'Art - Terres de l'Ebre"></a>
				</div>
				<div class="logo">
					<a href="{{ path ('portada') }}"><img src="/images/logo_bucle.gif" alt="Lo Pati - Centre d'Art - Terres de l'Ebre" title="Lo Pati - Centre d'Art  - Terres de l'Ebre"></a>
				</div>
			</div>
			{% block menu %}{% endblock %}
			{% block contenidor %}{% endblock %}
			<div class="dreta">
				<div class="destacats">
					<div class="buscador">
						<form name="buscador1" action="#" method="post">
							<p style="width: 155px; float: left;"><input name="textabuscar" type="text" style="width: 155px; height: 18px; border: 1px solid #666; margin: 0px;" value=""></p>
							<p style="width: 25px; float: left; "><input type="image" style="margin: 0px 0px 0px 0px;" value="buscar" title="buscar" src="/images/boto10ca.png"></p>
						</form>
					</div>
					<div class="idiomes">
						{% render 'BlogBundle:Default:menuIdioma'  %}
					</div>
					{% block menuArxiu %}{% endblock %}
					<div id="newsletter" class="xarxes">
						<h5 onclick="newsletter(this)">{% trans %}tr.newsletter{% endtrans %}:</h5>
						{% render "NewsletterBundle:Default:form" %}
					</div>
					<div class="xarxes">			
						<p>{% trans %}tr.follow{% endtrans %}:</p>
						<a href="http://www.facebook.com/pages/Lo-Pati/339606589419890" rel="external" onmouseover="document.facebook.src='/images/xarxa_fb_color.gif';" onmouseout="document.facebook.src='/images/xarxa_fb.gif';"><img style="width: 18px;" name="facebook" src="/images/xarxa_fb.gif" alt="facebook" title="facebook"></a>
						<a href="http://www.vimeo.com/lopati" rel="external" onmouseover="document.vimeo.src='/images/xarxa_vimeo_color.gif';" onmouseout="document.vimeo.src='/images/xarxa_vimeo.gif';"><img style="width: 18px;" name="vimeo" src="/images/xarxa_vimeo.gif" alt="vimeo" title="vimeo"></a>
						<a href="http://www.flickr.com/lopati" rel="external" onmouseover="document.flickr.src='/images/xarxa_flickr_color.gif';" onmouseout="document.flickr.src='/images/xarxa_flickr.gif';"><img style="width: 18px;" name="flickr" src="/images/xarxa_flickr.gif" alt="flickr" title="flickr"></a>
					</div>
					<p><br></p>
				</div>
			</div>
		</div>
		{% render 'BlogBundle:Default:peu' %}
	</body>
</html>