{% block a2lix_translations_widget %}
	<link href="{{ asset('bundles/menu/css/menu.css') }}" rel="stylesheet" type="text/css" />
	{% set locales = form.vars.locales %}
	{% if fields is defined %}
		{% set locales = form.vars.default_locale|merge(locales) %}
	{% endif %}

  <div class="a2lix_translationsTabsContents">
  	<ul class="a2lix_translationsTabsLocales">
  		{% for locale in locales %}
  			<li class="li_translation_tab_content" data-lang="{{ locale }}">
  				<span class="span_translation_tab_content"><strong>{{ locale|capitalize }}</strong></span><br/>
                {# Natives fields for default locale #}
                {% if (fields is defined) and (form.vars.locale[0] == locale) %}
                    {% for field in fields %}
                        {{ form_row(field) }}
                    {% endfor %}
                    
                {# Translations fields #}
                {% else %}
                    {% for translationsLocale in form if (translationsLocale.name == locale) %}
                        {{ form_widget(translationsLocale) }}
                    {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


