{% extends '::frontend.html.twig' %}

{% block title %}: {% trans %}agenda{% endtrans %} {{ dia | date('d/m/Y')}}  {% endblock %}

{% block menu %}
    {% render controller("MenuBundle:Default:pintaMenu", {id: null, llista: 0}) %}
</div>
{% endblock %}

{% block contenidor %}
    <div style="width: 100%; height: 29px; background: none;"></div>
    <div class="contenidor">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="continguts">
            <div class="subopcions">
                <div class="contingut">
                    {% if pagines %}
                        <h1>{% trans %}agenda{% endtrans %}</h1>
                        <h2 id="activitats_agenda">{% trans %}activitats.dia{% endtrans %}: {{ dia | date('d/m/Y')}} </h2>
                        <div class="separadorcontingutreg" ></div>
                    {% endif %}
                    {% for pagina in pagines %}
                        <div class="contingutreg">
                        {% if (date(pagina.dataCaducitat) > date() and pagina.subCategoria is not null) or (pagina.datacaducitat is null and pagina.subCategoria is not null) %}
                                {% if pagina.imagePetitaName  %}
                                    <a href='{{ path('pagina', {id: pagina.id, categoria: pagina.categoria.slug, subcategoria: pagina.subcategoria.slug, titol: pagina.slug}) }}'>
                                <img src="{{ vich_uploader_asset(pagina, 'imagePetita') | imagine_filter('portada') }}" style='max-width: 150px; float: left; margin: 0 25px 0 0;' alt='{{ pagina.titol }}' title='{{ pagina.titol }}'></a>
                            {% endif %}
                            <p class="titol"><a href='{{ path('pagina', {id: pagina.id, categoria: pagina.categoria.slug, subcategoria: pagina.subcategoria.slug, titol: pagina.slug}) }}'>{{ pagina.titol }}</a></p>
                            {% if pagina.resum  %}
                                <p style='color: #000;'>{{ pagina.resum }}...</p>
                            {% endif %}
                            <p>{{ pagina.lloc }}<br>{{ pagina.datarealitzacio }}</p>
                            {% else %}
                                {% if pagina.imagePetitaName %}
                                    <a href='{{ path('arxiuarticle', {id: pagina.id, arxiu: pagina.categoria.slug, titol: pagina.slug, any: pagina.datapublicacio | date("Y")}) }}'>
                                        <img src="{{ vich_uploader_asset(pagina, 'imagePetita') | imagine_filter('portada') }}" style='max-width: 150px; float: left; margin: 0 25px 0 0;' alt='{{ pagina.titol }}' title='{{ pagina.titol }}'></a>
                                {% endif %}

                                <p class="titol"><a href='{{ path('arxiuarticle', {id: pagina.id, arxiu: pagina.categoria.slug, titol: pagina.slug, any: pagina.datapublicacio | date("Y")}) }}'>{{ pagina.titol }}</a></p>
                                {% if pagina.resum  %}
                                    <p style='color: #000;'>{{ pagina.resum }}...</p>
                                {% endif %}
                                <p>{{ pagina.lloc }}<br>{{ pagina.datarealitzacio }}</p>
                            {% endif %}
                        </div>  <!--  contingutreg -->
                        <div class="separadorcontingutreg"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
