{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Resposta{% endblock %}

{% block content %}
    {% for post in newsletter.posts %}
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-7 columns first small-padding-bottom">
                    {% if post.image is not null %}
                        {% if post.link %}
                            <a href="{{ post.link }}">
                                <img src="{{ absolute_url(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                            </a>
                        {% else %}
                            <img src="{{ absolute_url(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                        {% endif %}
                    {% endif %}
                </th>
                <th class="small-12 large-5 columns last small-padding-bottom">
                    {% if post.date %}
                        <p class="post-heading">
                            {{ post.date | date('d | m | y') }}{% if post.endDate is not null %} &#8212; {{ post.endDate | date('d | m | y') }}{% endif %}
                        </p>
                    {% endif %}
                    {% if post.type is not null %}
                        <h6 style="font-weight:bolder;line-height:1">{{ post.typeString | upper }}</h6>
                    {% endif %}
                    <h4 style="font-weight:bolder;line-height:1">{{ post.title }}</h4>
                    {% if post.shortDescription %}
                        {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 10} %}
                        <p class="post-short-description">
                            {{ post.shortDescription }}
                        </p>
                    {% endif %}
                    {% if post.link %}
                        {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                        <a href="{{ post.link }}">
                            <img style="width:50px" class="float-left" src="{{ absolute_url(asset('images/newsletter_info.png')) }}" alt="+Info button">
                        </a>
                    {% endif %}
                </th>
                <th class="expander"></th>
            </tr>
            </tbody>
        </table>
        {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
    {% endfor %}
{% endblock %}
