{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Resposta{% endblock %}

{% block content %}
    {% for post in newsletter.posts %}
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-7 columns first small-padding-bottom">
                    <a href="#{# TODO fetch show detail post info absolute URL path admin outside #}">
                        <img src="{{ absolute_url(vich_uploader_asset(post, 'imageFile')) }}" alt="{{ post.title }}">
                    </a>
                </th>
                <th class="small-12 large-5 columns last small-padding-bottom">
                    {% if post.date %}
                        <p class="post-heading">
                            {{ post.date | date('d/m/Y') }}
                        </p>
                    {% endif %}
                    <h5 style="font-weight:bolder">{{ post.title }}</h5>
                    {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 10} %}
                    <p class="post-short-description">
                        {{ post.shortDescription }}
                    </p>
                    {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                    <table class="button small secondary radius">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><a href="#{# TODO fetch show detail post info absolute URL path admin outside #}">+ INFO</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </th>
                <th class="expander"></th>
            </tr>
            </tbody>
        </table>
        {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
    {% endfor %}
{% endblock %}
