{% extends '::frontend.html.twig' %}

{% block title %}{% endblock %}

{% block menu %}
    {% render controller("MenuBundle:Default:pintaMenu", {id: null, llista: 0}) %}
{% endblock %}

{% block contenidor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div style="width: 100%; height: 30px; background: none;"></div>
    <div class="contenidor">
        <div class="continguts">
            {% for slide in slides %}
                {{ slide.name }}
            {% else %}
                <img src="//lorempixel.com/756/450/abstract" alt="No slides"/>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block contenidorextra %}
    <div class="contenidor extra">
        <div class="continguts">
            <ol class="bloc01">
                {% for portada in portades %}
                    {% if (date(portada.dataCaducitat) > date() and portada.subCategoria is not null) or (portada.datacaducitat is null and portada.subCategoria is not null) %}
                        <li id="bloc{{ portada.id }}"{% if loop.index % 5 == 0 %} class="end-row"{% endif %}>
                            <div class="bloc01a">
                                <div class="bloc01a-shot">
                                    {% if (portada.imagePetita2Name is not null) and (portada.imagePetitaName is not null) %}
                                        <div class="bloc01-img">
                                            <a onMouseOut="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}'"
                                               onMouseOver="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita2') | imagine_filter('portada') }}'"
                                               href="{{ path('pagina', {'id': portada.id,'categoria' : portada.categoria.slug, 'subcategoria' : portada.subcategoria.slug,'titol' : portada.slug }) }}">
                                                <img id="id{{ portada.id }}"
                                                     src="{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}"
                                                     alt="{{ portada.titol }}" title="{{ portada.titol }}"></a>
                                        </div>
                                        <p class='tema'>{{ portada.subcategoria.nom }}</p>
                                        <h1>
                                            <a onMouseOut="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}'"
                                               onMouseOver="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita2') | imagine_filter('portada') }}'"
                                               href="{{ path('pagina', {'id': portada.id,'categoria' : portada.categoria.slug, 'subcategoria' : portada.subcategoria.slug,'titol' : portada.slug }) }}">{{ portada.titol }}{% if portada.resum %}<span
                                                        class="seguir"> [+]<span></span></span>{% endif %}</a></h1>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% else %}
                        {% if date(portada.dataCaducitat) <= date() and portada.dataCaducitat is not null %}
                            <li id="bloc{{ portada.id }}"{% if loop.index % 5 == 0 %} class="end-row"{% endif %}>
                                <div class="bloc01a">
                                    <div class="bloc01a-shot">
                                        {% if (portada.imagePetita2Name is not null) and (portada.imagePetitaName is not null) %}
                                            <div class="bloc01-img">
                                                <a onMouseOut="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}'"
                                                   onMouseOver="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita2') | imagine_filter('portada') }}'"
                                                   href="{{ path('arxiuarticle', {'id': portada.id,  'any': portada.datapublicacio|date("Y"), 'arxiu': portada.categoria.slug, 'titol': portada.slug }) }}">
                                                    <img id="id{{ portada.id }}"
                                                         src="{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}"
                                                         alt="{{ portada.titol }}" title="{{ portada.titol }}"></a>
                                            </div>
                                            <p class='tema'>{{ portada.categoria.nom }}</p>
                                            <h1>
                                                <a onMouseOut="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita') | imagine_filter('portada') }}'"
                                                   onMouseOver="document.getElementById('id{{ portada.id }}').src='{{ vich_uploader_asset(portada, 'imagePetita2') | imagine_filter('portada') }}'"
                                                   href="{{ path('arxiuarticle', {'id': portada.id,  'any': portada.datapublicacio|date("Y"), 'arxiu': portada.categoria.slug, 'titol': portada.slug }) }}">{{ portada.titol }}{% if portada.resum %}<span
                                                            class="seguir"> [+]<span></span></span>{% endif %}</a></h1>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(portades) }}
        </div>
    </div>
    {#</div>#}
{% endblock %}
