
{% extends '::frontend.html.twig' %}


{% block title %}{% endblock %}
{% block menu %}
  {% render "MenuBundle:Default:pintaMenu" with {id: null, llista: 0} %} 
 {% endblock %}
{% block contenidor %}
       {% if app.session.hasFlash('notice') %}      
                             
                            <div class="flash success">
                                {{ app.session.flash('notice') }}
                            </div>                            
       {% endif %}
<div style="width: 100%; height: 30px; background: none;"></div>
<div class="contenidor">

<div class="continguts">
		<ol class="bloc01">

	
			{% for portada in portades %}
			
					<li id="bloc{{ portada.id }}">
					<div class="bloc01a">
						<div class="bloc01a-shot">
					

							<div class="bloc01-img">
								<a href="{{ path('pagina', {'id': portada.id,'categoria' : portada.categoria.slug, 'subcategoria' : portada.subcategoria.slug,'titol' : portada.slug }) }}"><img src="{{ vich_uploader_asset(portada, 'imagePetita')| imagine_filter('portada') }}" alt="{{ portada.titol }}" title="{{ portada.titol }}"></a>
							</div> <!-- bloc01-img -->

						
				<p class='tema'>{{ portada.subcategoria.nom }}</p>
							<h1><a href="{{ path('pagina', {'id': portada.id,'categoria' : portada.categoria.slug, 'subcategoria' : portada.subcategoria.slug,'titol' : portada.slug }) }}">{{ portada.titol }}{% if portada.resum %}<span class="seguir"> [+]<span></span></span>{% endif %}</a></h1>
						</div> <!-- bloc01a-shot -->
					</div> <!-- bloc01a -->
					</li>


					{% endfor %}

</ol>

		

</div>
<div class="navigation">
    {{ portades.render()|raw }}
</div>
</div>
{% endblock %}