<p>Esquema del menú amb categories i subcategories ordenades actives</p>

<dl>
	{% for categoria in categories %}
		<dt>{{ categoria.ordre }}: {{ categoria.nom }}</dt>
		<dd>
			<dl>
				{% for subcategoria in categoria.subCategoria %}
					<dt>{{ categoria.ordre }}.{{ subcategoria.ordre }}: {{ subcategoria.nom }}</dt>
					<dd>
						<dl>
							{% for pagina in subcategoria.pagines %}
								<dt>{{ pagina.titol }}</dt>
								<dd></dd>
							{% endfor %}
						</dl>
					</dd>
				{% endfor %}
			</dl>
		</dd>	
	{% endfor %}
</dl>
