


        <div class="calendar-header-title">{{ mesString | trans}}</div>



    <table class="calendari">
        {% if weekDayNameEnabled %}
            <thead>
                <tr>
                    <!-- <th class="centre">Setmana</th> -->
                    <th>{% trans %}calendar.day.monday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.tuesday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.wednesday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.thursday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.friday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.saturday{% endtrans %}</th>
                    <th>{% trans %}calendar.day.sunday{% endtrans %}</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            {% set itemsIndex = 0 %}
            {% if items[itemsIndex] is defined %}

                {% set currentItem = items[itemsIndex] %}
                {% for semana in 0..maxWeek %}
                    <tr>
                        {% for dia in 0..6 %}

                                {% if daysMatrix[(semana*7)+dia] is defined %}
                                    {% if daysMatrix[(semana*7)+dia]['nday'] >= currentItem.startDate | date('d') and  daysMatrix[(semana*7)+dia]['nday'] <= currentItem.endDate | date('d') %}
                                        <td class="{{ dia == 5 or dia == 6 ? 'weekend hit' : 'hit' }}">
                                            <a href="{{ path( 'agenda_' ~ app.request.locale, {'year' : currentItem.startDate | date('Y'), 'month' : currentItem.startDate | date('m'), 'day' : currentItem.startDate | date('d') } ) }}">{{ daysMatrix[(semana*7)+dia]['nday'] }}</a>

                                        {% if itemsIndex < items | length - 1 %}
                                            {% set itemsIndex = itemsIndex + 1 %}
                                            {% set currentItem = items[itemsIndex] %}
                                        {% endif %}
                                    {% else %}
                                        <td class="{{ dia == 5 or dia == 6 ? 'weekend' : '' }}">
                                            {{ daysMatrix[(semana*7)+dia]['nday'] }}
                                    {% endif %}
                                {% else %}
                                    <td>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            {% else %}

                {% for semana in 0..maxWeek %}
                    <tr>
                        {% for dia in 0..6 %}
                            <td class="{{ dia == 5 or dia == 6 ? 'weekend ' : '' }}">
                                {% if daysMatrix[(semana*7)+dia] is defined %}
                                    {{ daysMatrix[(semana*7)+dia]['nday'] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            {% endif %}

        </tbody>
    </table>
