<div class="calendar-header-title">{{ mesString | trans}} {{ any }}</div>
<table class="calendari">
    {% if weekDayNameEnabled %}
        <thead>
            <tr>
                <!-- <th class="centre">Setmana</th> -->
                <th>{% trans %}calendar.day.monday{% endtrans %}</th>
                <th>{% trans %}calendar.day.tuesday{% endtrans %}</th>
                <th>{% trans %}calendar.day.wednesday{% endtrans %}</th>
                <th>{% trans %}calendar.day.thursday{% endtrans %}</th>
                <th>{% trans %}calendar.day.friday{% endtrans %}</th>
                <th>{% trans %}calendar.day.saturday{% endtrans %}</th>
                <th>{% trans %}calendar.day.sunday{% endtrans %}</th>
            </tr>
        </thead>
    {% endif %}
    <tbody>
        {% for semana in 0..maxWeek %}
            <tr>
                {% for dia in 0..6 %}
                    {% if daysMatrix[(semana*7)+dia] is defined %}
                        {# el dia existeix al calendari, per tant s'ha de pintar la cel·la amb el número del dia corresponent #}
                        {% if daysMatrix[(semana*7)+dia]['nday'] < '10' %}
                            {% set day = '0' ~ daysMatrix[(semana*7)+dia]['nday'] %}
                        {% else %}
                            {% set day = daysMatrix[(semana*7)+dia]['nday'] %}
                        {% endif %}
                        {% if mes < '10' %}
                            {% set mes2 = '0' ~ mes %}
                        {% else %}
                            {% set mes2 = mes %}
                        {% endif %}
                        {% set dayComplete = any ~ '-' ~ mes2 ~ '-' ~ day %}
                        {% if hitsMatrix[day] is defined and (dia == workingDay1 or dia == workingDay2) %} {# NOMES MARCA DIVENDRES I DISSABTE (canviar-ho a l'estiu, veure app/config/config.yml) #}
                            {# a mes s'ha detectat un esdevenint dins d'aquella data #}
                            <td class="{{ hitsMatrix[day] }}">
                                <a href="{{ path( 'agenda_' ~ app.request.locale, {'year' : any, 'month' : mes2, 'day' : day } ) }}">{{ daysMatrix[(semana*7)+dia]['nday'] }}</a>
                        {% else %}
                            {# NO hi ha cap esdevenint, per tant pintar només el número de dia #}
                            <td>
                                    {{ daysMatrix[(semana*7)+dia]['nday'] }}
                        {% endif %}
                    {% else %}
                        {# la cel·la es queda buida, no es correspon amb cap dia representable al calendari #}
                        <td>
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
