{% if user.idioma == 'ca' %}
    <p>
        Hem rebut una petició de subscripció de l'adreça {{ user.email }} al newsletter de Lo Pati.
    </p>
    <p>
        Per confirmar la subscripció, si us plau segueix el següent enllaç:
        <a href="{{ absolute_url('newsletter_confirmation', {token: token}) }}">{{ absolute_url('newsletter_confirmation', {token: token}) }}</a>
    </p>
    <p>
        Si l'enllaç no funciona, copiï aquest enllaç {{ absolute_url('newsletter_confirmation', {token: token}) }} a la barra
        de direcció del seu navegador.
    </p>
{% elseif user.idioma == 'es' %}
    <p>
        Hemos recibido una petición de suscripción de la dirección {{ user.email }} al newsletter de Lo Pati.
    </p>
    <p>
        Para confirmar la suscripción, por favor sigue el siguiente enlace:
        <a href="{{ absolute_url('newsletter_confirmation', {token: token}) }}">{{ absolute_url('newsletter_confirmation', {token: token}) }}</a>
    </p>
    <p>
        Si el enlace no funciona, copie este enlace{{ absolute_url('newsletter_confirmation', {token: token}) }} en la barra
        de dirección de su navegador.
    </p>
{% elseif user.idioma == 'en' %}
    <p>
        We received a request from the address {{ user.email }} to newsletter Lo Pati.
    </p>
    <p>
        To confirm subscription, please follow the link below:
        <a href="{{ absolute_url('newsletter_confirmation', {token: token}) }}">{{ absolute_url('newsletter_confirmation', {token: token}) }}</a>
    </p>
    <p>
        If the link does not work, copy this link {{ absolute_url('newsletter_confirmation', {token: token}) }} in the
        address bar of your browser.
    </p>
{% endif %}
