<form id="form_newsletter" action="{{ path('newsletter_user') }}" method="post" class="newsletter">
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.postalCode) }}
    {{ form_errors(form.postalCode) }}
    {{ form_widget(form.phone) }}
    {{ form_errors(form.phone) }}
    {{ form_widget(form.age) }}
    {{ form_errors(form.age) }}
    {{ form_rest(form) }}
</form>
