<form action="{{ path('newsletter_user') }}" method="post" class="newsletter">
{{ form_label(form.email) }}    
{{ form_widget(form.email) }}
    {{ form_widget(form.idioma) }}
    {{ form_widget(form._token) }}    
    <button id="mp_newsletter_button" type="submit">newsletter</button>
</form>
