{% extends '::frontend.html.twig' %}

{% block title %}: {{ pagina.titol }}{% endblock %}

{% block menu %}
    {% render "MenuBundle:Default:pintaMenuLlista" with {categoria_id: pagina.categoria.id, subcategoria_id: pagina.subcategoria.id } %}
{% endblock %}

{% block contenidor %}
    <div class="contenidor">
        <div class="continguts">
            <!-- situacio -->
            {% if (pagina.categoria.actiu ) and pagina.actiu %}
                <div class="registre">
                    <div class="separador"></div>
                    <div class="titol">
                        <h1>{{ pagina.titol }}</h1>
                    </div>
                    <div class="contingutregistre1">
                        <ul>
                            {% for artist in artistes %}
                                <li>
                                    <a href="{{ path('irradiador_detail_' ~ app.request.locale, { 'artista' : artist.slug, 'id' : artist.id} ) }}">{{ artist.name }}<br/></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="contingutregistre2">
                        <div>
                            {{ artista.name }}<br/>
                            {{ artista.city }}, {{ artista.year }}<br/>
                            {{ artista.summary }}<br/>
                            {{ artista.description }}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>La pàgina no està activa</p>
            {% endif %}
        </div>
    </div>
{%  endblock %}