{% extends '::frontend.html.twig' %}

{% block title %}: {{ pagina.titol }}{% endblock %}

{% block menu %}
    {% render "MenuBundle:Default:pintaMenuLlista" with {categoria_id: pagina.categoria.id, subcategoria_id: pagina.subcategoria.id } %}
{% endblock %}

{% block contenidor %}
    <div class="contenidor">
        <div class="continguts">
            <!-- situacio -->
            {% if (pagina.categoria.actiu ) and pagina.actiu %}
                <div class="registre">
                    <div class="separador"></div>
                    <div class="titol">
                        <h1>{{ pagina.titol }}</h1>
                    </div>
                    <div class="contingutregistre1">
                        <ul>
                            {% for artista in artistes %}
                                <li>
                                    <a href="{{ path('irradiador_detail_' ~ app.request.locale, { 'artista' : artista.slug } ) }}">{{ artista.name }}<br/></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="contingutregistre2">
                        <div>
                            {% if pagina.resum %}
                                <p class="resum">{{ pagina.resum }}</p>
                            {% endif %}
                            <div style="text-align: justify">{{ pagina.descripcio | raw }}</div>
                            <div>
                                <span style="color: rgb(255,0,102)"><strong><br/></strong></span>
                            </div>
                            <div>&nbsp; &nbsp; &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>La pàgina no està activa</p>
            {% endif %}
        </div>
    </div>
{%  endblock %}