{% extends '::frontend.html.twig' %}

{% block title %}: {{ pagina.titol }}{% endblock %}

{% block estils %}<link href="{{ asset('/bundles/artista/css/artista.css') }}" rel="stylesheet" type="text/css"/>{% endblock %}

{% block menu %}
    {% render controller("MenuBundle:Default:pintaMenuLlista", {categoria_id: pagina.categoria.id, subcategoria_id: pagina.subcategoria.id }) %}
{% endblock %}

{% block contenidor %}
    <div class="contenidor">
        <div class="continguts">
            <div class="registre">
                <div class="contingutregistre1">
                    <ul class="menu-artistes">
                        {% for artista in artistes %}
                            <li>
                                <a href="{{ path('irradiador_detail_' ~ app.request.locale, { 'artista' : artista.slug } ) }}">{{ artista.name }}<br/></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="contingutregistre2">
                    <div class="titol" style="margin:0">
                        <h1>{{ pagina.titol }}</h1>
                    </div>
                    <div>
                        {% if pagina.imageGran1Name  %}
                            <img src='{{ vich_uploader_asset(pagina, 'imageGran1') | imagine_filter('imatge_pagina_irradiador') }}' alt="Lo Pati - Centre d'Art  - Terres de l'Ebre : {{ pagina.titol }}" title="Lo Pati - Centre d'Art  - Terres de l'Ebre : {{ pagina.titol }}">
                        {% endif %}
                        {% if pagina.resum %}
                            <p class="resum">{{ pagina.resum }}</p>
                        {% endif %}
                        <div style="text-align: justify">{{ pagina.descripcio | raw }}</div>
                        <div>
                            <span style="color: rgb(255,0,102)"><strong><br/></strong></span>
                        </div>
                        <div>&nbsp; &nbsp; &nbsp; &nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}